<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241261198277-pgt5j34oqacf7kpjcr59v5kr9s29kih9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241261198277-pgt5j34oqacf7kpjcr59v5kr9s29kih9</string>
	<key>API_KEY</key>
	<string>AIzaSyBlnJLuSIxuOJDRZ8ZGqvFIibAS-1JE1BU</string>
	<key>GCM_SENDER_ID</key>
	<string>241261198277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningBloc4</string>
	<key>PROJECT_ID</key>
	<string>learning-bloc4</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-bloc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241261198277:ios:42b04cdc224c100cb3a9ac</string>
</dict>
</plist>